body            { font-family: sans-serif; background: #eee; }
.page           { margin: 15px auto; width: 800px; padding: 8px; background-color: #eee; }
.banner           { margin-bottom: 0px auto; width: 800px; border: 3px solid #ccc;
                  padding: 8px; background-color: #1D6B87; }
.entries           { margin-top: -3px auto; width: 800px; border: 3px solid #ccc;
                  padding: 8px; background-color: #eee; }

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(loading.gif) no-repeat;
    cursor: wait;
    margin-left: auto;
    margin-right: auto
}

h1, .h1 {
    font-family: "Roboto Slab","Museo","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.2em;
    text-rendering: optimizelegibility;
}


h3, .h3 {
    color: #AACBE2;
    line-height: 1.2em;
    text-rendering: optimizelegibility;
    font-family: "Roboto Slab","Museo","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h4, .h4 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #5D6769;
    line-height: 1.2em;
    text-rendering: optimizelegibility;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.text-white {
    color: white !important;
}

.banner-product-title {
    margin-top: 20px;
    font-weight: normal;
}

.banner-title {
    font-size: 44px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: normal;
}

.banner-subtitle {
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: lighter;
}

.align-center {
    text-align: center !important;
}

.col-centered {
    margin: 0 auto;
}
.col {
    min-width: 0;
}

div {
    display: block;
}

.banner-search-bar {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #5D6769;
}

.myinput-container {
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 800px;
}

.myinput-group {
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    min-width: 50px;
    height: 40px;
    line-height: 40px;
}

.keywordinput {
    background-color: #FFF;
    border: 1px solid #DBE3E3;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    padding: 0 10px;
    vertical-align: middle;
    width: 485px;
    font-size: 18px;
    line-height: 22px;
}

.countryinput {
    background-color: #FFF;
    border: 1px solid #DBE3E3;
    border-radius: 0px;
    display: inline-block;
    outline: none;
    padding: 0 10px;
    vertical-align: middle;
    width: 150px;
    font-size: 16px;
    line-height: 22px;
}

.button-primary {
    border-style: solid;
    border-width: 0px 0;
    height: 40px;
    line-height: 38px;
    transition-duration: 0.1s;
    transition-property: border-color;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    background-clip: padding-box;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    outline: none;
    padding: 0 14px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
}

.button-primary.large-cta {
    border-radius: 3px;
    border-width: 1px 0 2px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}


.button-primary.yellow {
    background-color: #FFD262;
    border-bottom-color: #E4B34F;
    border-top-color: #FFE8B2;
    box-shadow: 1px 1px 0 0 #E4B34F,1px -1px 0 0 #E4B34F,-1px 1px 0 0 #E4B34F,-1px -1px 0 0 #E4B34F;
    color: #994122;
}


table {
    width:100%;
}
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 3px;
    text-align: left;
}
table#keywords tr:nth-child(even) {
    background-color:#eee;
}
table#keywords tr:nth-child(odd) {
   background-color:#fff;
}
table#keywords th {
    background-color:white;
    color: black;
}

.searchtype{
    margin-top: 1em;
    margin-bottom : 1em;
    color: white !important;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    text-rendering: optimizelegibility;
}

.file_input {
    color: white !important;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-file-input {
    display: inline-block;
    width: 200px;
    height: 40px;
}

